#button2{
  cursor: pointer;
  margin-top: 2%;
  margin-left: 42%;
  background: blueviolet;
  color: white;
  font-weight: 400;
  height: 50px;
  width: 150px;
  border: lightgray;
  border-radius: 30px;
}
h1{
margin-left: 40%;
}
#link{
  padding-top: 30px;
  padding-right: 1px;
  margin-top: 2%;
  margin-left: 42%;
  background: blueviolet;
  color: white;
  font-weight: 400;
  height: 50px;
  width: 150px;
  border: lightgray;
  border-radius: 30px;
}
#link:hover {
   color: black
}
